@charset "UTF-8";
.main{
    display: block;
    width: 100%;
}
.canvas{
    display: block;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    transform-origin: top center;
    transform: translate(.5);
}
@media screen and (max-width: 991px) {}

@media screen and (max-width: 767px) {}

@media screen and (max-width: 575px) {}



/****IOS樣式****/
@supports (-webkit-touch-callout: none) {}